html {
  height: 100%;
}
/* padding top right bottom left*/
body {
  height: 100%;
  background-image:  linear-gradient(to left top, #7bb7ef 0%, #4894ea 100%);
  font-family: Verdana, Geneva, sans-serif;
  position: relative;
}
.wrapper {
  margin-top: 8px;
  margin-bottom: 80px;
}
.container{
  max-width: 450px;
  margin: 0 auto;
  margin-top: -10px;
  background-color: #fff;
  padding: 10px 5px 5px;
}
.left-container{
  max-width: 450px;
  margin: 0 auto;
  margin-top: 10px;
  margin-left: 1px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 10px 20px 5px;
  border-radius: 15px;
  width: 48%;
  float:left;
}
.right-container{
  max-width: 450px;
  margin: 0 auto;
  margin-top: 10px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 10px 20px 5px;
  border-radius: 15px;
  width: 52%;
  float:right;
}
.big-container{
  max-width: 1000px;
  height: 700px;
  margin: 0 auto;
  margin-top: 10px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-top: 0px;
  padding: 10px 20px 5px;
  border-radius: 15px;
}
.choose-book-container{
  max-width: 450px;
  margin: 0 auto;
  margin-top: 10px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-top: 0px;
  padding: 10px 20px 5px;
  border-radius: 15px;
}
header{
  max-width: 400px;
  margin: 0 auto;
  margin-top: 40px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  padding: 4px 20px 4px;
}
.form-signin {
  max-width: 450px;
  padding: 5px 5px 1px;
  margin: 0 auto;
  padding-bottom: 40px;
  background-color: #fff;
}
.form-signin .form-signin .checkbox {
  margin-bottom: 30px;
  text-align: center;
}

.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  width: 100%;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: -1px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.form-signin input[type="email"]{
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
textarea{
  width: 356px;
  height: 250px;
  margin-bottom: 10px;
  padding: 6px;
}
.return-container{
  max-width: 450px;
  margin: 0 auto;
  margin-top: -45px;
  background-color: #fff;
  padding: 0px 5px 5px;
}
#system-message{
	font-size:12px;
	font-weight: bold;
	margin-top: -8px;
	margin-bottom: -4px;
}
.system-message-container{
  max-width: 800px;
  margin: 0 auto;
  margin-top: 5px;
  margin-bottom: -4px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 10px 20px 5px;
  border-radius: 15px;
}
.h3-heading{
	margin-top: 10px;
	margin-bottom: 10px;
  	text-align: center;
}
.big-button{
	display: block;
	width:100%;
	margin-top: 8px;
	margin-bottom: 4px;
	padding: 10px 16px;
	font-size: 18px;
	line-height: 1.33;
	border-radius: 6px;
	border: 1px solid transparent;
	color: #fff;
	background-color: #428bca;
	border-color: #357ebd;
}
.big-return-button{
	display: block;
	width:100%;
	margin-top: -7px;
	margin-bottom: 4px;
	padding: 10px 16px;
	font-size: 18px;
	line-height: 1.33;
	border-radius: 6px;
	border: 1px solid transparent;
	color: #fff;
	background-color: #428bca;
	border-color: #357ebd;
}
.header-button{
	display: inline-block;
	width: 129px;
	font-size: 14px;
	line-height:1.33;
	border-radius: 6px;
	border: 1px solid transparent;
	color: #fff;
	background-color: #428bca;
	border-color: #357ebd;	
}
.small-button{
	display: inline-block;
	margin: auto;
	margin-bottom: 2px;
	padding: 4px 8px;
	font-size: 12px;
	line-height:1.33;
	border-radius: 6px;
	border: 1px solid transparent;
	color: #fff;
	background-color: #428bca;
	border-color: #357ebd;	
}
#big-logo{
  max-width: 80%;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 10%;
}
table{
	border-collapse: collapse;
	margin-top: 0px;
	width: 100%;
	table-layout: fixed;	
}
th {
	padding-left: 5px;
	padding-top: 4px;
    padding-bottom: 4px;
    text-align: left;
    font-size: 12px;
    background-color: #428bca;
    color: #fff;
    border:1px solid rgba(0, 0, 0, 0.1);
    margin-left: 5px;
    margin-right: 5px;
}
td{
	word-wrap:break-word;
	padding-top: 2px;
    padding-bottom: 2px;
    font-size: 12px;
    text-align: left;
    border:1px solid rgba(0, 0, 0, 0.1);
    padding-left: 4px;
    padding-right: 4px;
}

tr:nth-child(even){
	background-color: #f2f2f2;
}

tr:hover {
	background-color: #ddd;
}
#id-column{
	width: 7%;
}
#firstname-column{
	column-width: 100px;
}
#lastname-column{
	column-width: 100px;
}
#email-column{
	column-width: 140px;
}
#action-column{
	width: auto;
	text-align: center;
}
#action-delete-column{
	width: auto;
	text-align: center;
}
#title-column{
	width: 43%;
}
#author-column{
	width: 32%;
}
.nav-small-button{
	display: inline-block;
	font-size: 14px;
	line-height:1.33;
	border-radius: 6px;
	border: 1px solid transparent;
	color: #fff;
	background-color: #428bca;
	border-color: #357ebd;	
	margin-left: 5px;
	margin-top: -5px;
	float: right;
	width: 50px;
}
.nav-special-button{
	display: inline-block;
	font-size: 14px;
	line-height:1.33;
	border: 1px solid transparent;
	color: #fff;
	background-color: #428bca;
	border-color: #357ebd;	
	margin-left: -10px;
	margin-right: -10px;
	margin-top: -5px;
	float: right;
	width: 150px;
}
#result-paragraph{
	float:left;
	margin-bottom: -20px;
}
caption{
	padding-left: 5px;
	padding-top: 2px;
    padding-bottom: 2px;
    text-align: left;
    font-size: 14px;
    font-weight: bold;
    background-color: #428bca;
    color: #fff;
    border:1px solid rgba(0, 0, 0, 0.1);

}